@media only screen and (max-width: 2000px) {
	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #d1d5da;
	}

	#navbar {
	  background-color: #24292e;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  transition: top 0.5s;
	}

	img.profile_img{
		float:right;
		width:45px;
		margin:10px;
	}
	p.dev_android {
	  color:#d1d5da;
	  font-size:20px;
	   text-align: center;
	   margin:20px;
	}
	div.github_icon{
		float:left;
		width:40px;
		margin:10px;
	}
	
	footer.foot {
	  background-color: #24292e;
	  position:absolute;
	  width: 100%;
	  font-color:#d1d5da;
	}
	p.copyright {
	  color:#d1d5da;
	  font-size:15px;
	   text-align: center;
	   margin:10px;
	}
}

@media only screen and (max-width: 700px) {


}


